---
interface Props {
  title: string;
  firstText: string;
  secondText: string;
  thirdText: string;
  image: string;
}

const { title, firstText, secondText, thirdText, image } = Astro.props;
---

<section class="flex flex-col items-center">
  <h2 class="mb-5 text-2xl font-bold text-sky-600">{title}</h2>
  <p class="mb-5 dark:text-white lg:text-lg">
    {firstText}
  </p>
  <p class="mb-5 dark:text-white lg:text-lg">
    {secondText}
  </p>
  <p class="mb-6 dark:text-white lg:text-lg">
    {thirdText}
  </p>
  <img
    width="300"
    height="200"
    class="mb-5 lg:w-[400px] lg:h-[280px] md:w-[300px] md:h-[200px] rounded-lg object-cover"
    src={image}
    alt={title}
  />
</section>
